<%- include('partials/header') %>

<div class="text-center">
    <h1>About Me</h1>
    <div class="row mt-4">
        <div class="col-md-4">
            <img src="/images/test_3.jpg" alt="Yedel·Ahat" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8">
            <p>Hi! My name is Yedeli Ahati. I graduated from University of Sheffield and am now a software engineer at  <a href="https://www.appfolio.com/" target="_blank"><b>AppFolio, Inc</b></a>. I have interned at <a href="https://www.mercari.com/" target="_blank"><b>Mercari US</b></a>、<a href="https://promoboxx.com/" target="_blank"><b>Promoboxx</b></a> and <a href="http://www.hksl.com.hk/" target="_blank"><b>Hong Kong Systems Limited</b></a> .I am continuously searching for opportunities to grow and expand my knowledge in software development. Outside of my studies, I enjoy playing basketball, volleyball, as well as weights training.</p>
        </div>
        <div class="media center">
            <div class="d-flex justify-content-center mt-3">
                <a href="https://www.linkedin.com/in/thomas-cheong/" class="fab fa-linkedin ms-3" target="_blank"></a>
                <a href="https://github.com/tommycheong07" class="fab fa-github ms-3" target="_blank"></a>
            </div>
        </div>

    </div>
</div>

<%- include('partials/footer') %>
