<%- include('partials/header') %>

<div class="text-center">
    <h1>Resume</h1>
    <p class="mt-4"><a href="/Resume.pdf" class="btn btn-primary" target="_blank">Download Resume</a></p>
</div>

<%- include('partials/footer') %>
