<%- include('partials/header') %>

<div class="container project-section">
    <!--<h2><%= title %></h2>-->
    <div class="project-detail">
        <h2>Android App for Graduation Dress Hire</h2>
        <p>Kotlin, Jetpack Compose, Navigation, Repository, Room, Hilt, ViewModel, Firebase Authentication, Firestore</p>
        <p>Say goodbye to the stress of graduation gown shopping; GownGrad is your one-stop solution for renting the perfect attire for your special day! This Android app simplifies the process, allowing users to browse gowns based on their university and degree, manage orders, input body measurements, and handle payments—all from their mobile devices. Whether anonymous or registered, users can easily modify or delete orders. Make your graduation day special with GownGrad!</p>
        <img src="/images/GownGrad.png" style="width: 250px" alt="Android App for Graduation Dress Hire" class="project-image">
    </div>
</div>

<%- include('partials/footer') %>
